<div class='page'>
    <div class="page-content">
        <header class="page-block">
            <div class="header">
                <div class="">
                     {{>logo}}
                </div>

                <nav class="header-nav">
                    <div class="header-nav-right">
                        {{> nav list=header }}
                    </div>
                </nav>
            </div>
        </header>

        <section class="page-block">
            <div class="hero">
                {{#with hero}}
                    {{> hero title=title text=text}}
                    {{#with button}}
                        <a href="{{url}}" class="button">{{text}}</a>
                    {{/with}}
                {{/with}}
            </div>
        </section>

        <section class="page-block">
            <div class="flex-container">
                {{#each preview}}
                    {{> card-review class="flex-item" data=this}}
                {{/each}}
            </div>
        </section>

        <main class="page-block">
            <div class="main">
                <div class="row g-0">
                    <div class="list-header col-12">
                        <div>
                            <h2 class="list-title">List of posts</h2>
                        </div>
                        <div>
                            <div class="category-list">
                                {{#each categories}}
                                    <button class="category-button">{{text}}</button>
                                {{/each}}
                            </div>
                        </div>
                    </div>

                    <div class="col-7">
                        <div class="list">
                            {{#each news}}
                                {{> card-post data=this}}
                            {{/each}}
                        </div>
                    </div>

                    <div class="col-5">
                        <aside class="list-aside">
                            <div class="about">
                                <h4 class="about-title">About</h4>
                                <p class="about-text">{{about}}</p>
                            </div>

                            {{> link-list title="Archives" data=archive}}

                            {{> link-list title="Social" data=social}}
                        </aside>
                    </div>
                </div>
            </div>
        </main>


        <footer class="page-block">
            <div class="footer">
                <div>
                    {{> logo}}
                    <span class="footer-copywright">Copyright 2023-2024</span>
                </div>

                {{#each footer}}
                    <div>
                        <li class="footer-title">{{title}}</li>
                        {{> nav list=links isVertical=true}}
                    </div>
                {{/each}}
            </div>   
        </footer>
    </div>
</div>